[submodule "el-get/emacs-clang-complete-async"]
	path = el-get/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "site-lisp/emacs-pry"]
	path = site-lisp/emacs-pry
	url = https://github.com/jacott/emacs-pry.git
[submodule "site-lisp/epubmode-code"]
	path = site-lisp/epubmode-code
	url = http://git.code.sf.net/p/epubmode/code
